.header {
    margin-bottom: 30px;
    padding: 20px 50px;
    backdrop-filter: blur(5px);
    background-color: rgb(144 6 223 / 40%);
}

.navigation {
    display: flex;
    gap: 70px;
    max-width: 1160px;
    margin: 0 auto;
}

.navigate {
    padding: 2px 18px;
    border-radius: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.07em;
    text-decoration: none;
    transition: color 200ms linear;
}

.navigate:hover {
    color: #26e689;
}

.navigate:global(.active) {
    background-color: #5736a3;
    color: #fff;
}