.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 30px;

    list-style: none;
}

.item {
    transition: transform 250ms ease-in-out;
}

.item:hover {
    transform: scale(1.01);
}

.btn {
    display: flex;
    align-items: center;
    gap: 13px;
    margin: 29px auto;
    padding: 10px 41px;
    background-color: #fff;
    box-shadow: rgb(51 40 40 / 32%) 3px 4px 16px 4px;
    border-radius: 23px;
    border: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
    color: #063524;
}