.title {
    width: 500px;
    margin: 152px auto 0;
    padding: 71px 60px;
    color: #13673b;
    background-color: rgb(251 255 235 / 50%);
    border-radius: 41px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.1em;
}